@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 249, 250; /* Blanco Hueso */
  --background-start-rgb: 28, 28, 28; /* Gris oscuro */
  --background-end-rgb: 0, 0, 0; /* Negro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 248, 249, 250; /* Blanco Hueso */
    --background-start-rgb: 28, 28, 28; /* Gris oscuro */
    --background-end-rgb: 0, 0, 0; /* Negro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(var(--background-end-rgb), 0.8)
    ),
    rgb(var(--background-start-rgb));
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
